<style>
  tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
	position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}

#tdcard {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cardtitle {
  margin-bottom: 0px;
}

.table-responsive {
  margin-top: 10px;
}

</style>

 <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Trip</th>
        <th scope="col">Customer</th>
        <th scope="col">Status</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < trips.length; i++) { %>
      <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#<%= trips[i].tripnumber %>">
        <td><%= trips[i].tripnumber %></td>
        <td><%= trips[i].customer %></td>
        <td><%= trips[i].status %></td>
        <td class="expand-button"></td>

</tr>
<tr class="hide-table-padding">
<td colspan="4">
<div id="<%= trips[i].tripnumber %>" class="collapse in col-sm">
  <div class="card" id="tdcard">
    <div class="card-body">
      <div class="row">
      <h5 class="card-title col align-self-center" id="cardtitle"><%= trips[i].customer %> - <%= trips[i].tripnumber %></h5>
      <button type="button" class="btn col-1" id="editjobbutton" data-toggle="modal" data-target="#editjobscreen">Edit</button>
    </div>
    <div class="modal fade" id="editjobscreen" tabindex="-1" role="dialog" aria-labelledby="editjobscreenlabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editjobscreenlabel">Edit Job <%= trips[i].tripnumber %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">Hello</div>
              <div class="col-md-6">Hello</div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div></td>
</tr>
<% } %>
    </tbody>
  </table>
</div>
