<style>
  tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
	position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}

#tdcard {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cardtitle {
  margin-bottom: 0px;
}

.table-responsive {
  margin-top: 10px;
}

</style>

 <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Trip</th>
        <th scope="col">Customer</th>
        <th scope="col">Status</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < trips.length; i++) { %>
      <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#<%= trips[i].tripnumber %>">
        <td><%= trips[i].tripnumber %></td>
        <td><%= trips[i].customer %></td>
        <td><%= trips[i].status %></td>
        <td class="expand-button"></td>
        </tr>
        
<tr class="hide-table-padding">
<td colspan="4">
<div id="<%= trips[i].tripnumber %>" class="collapse in col-sm head-div">
  <div class="card" id="tdcard">
    <div class="card-body">
      <div class="row">
      <h5 class="card-title col align-self-center" id="cardtitle"><%= trips[i].customer %> - <%= trips[i].tripnumber %></h5>
      <button type="button" class="btn col-1" id="edittripbutton" data-toggle="modal" data-target="#e<%= trips[i].tripnumber %>">Edit</button>
    </div>
    <div class="modal fade" id="e<%= trips[i].tripnumber %>" tabindex="-1" role="dialog" aria-labelledby="editTripModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editTripModalLabel">Edit Trip Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="edittripform">
              <h5>Trip Information</h5>
              <div class="row">
                  <div class="col-4">
                      <div class="form-group">
                          <label hidden for="eid"></label>
                          <input hidden type="text" class="form-control" id="eid" placeholder="Trip #" value="<%= trips[i].id %>">
                          <label for="etripNumberInput">Trip Number</label>
                          <input type="text" class="form-control" id="etripNumberInput" placeholder="Trip #" value="<%= trips[i].tripnumber %>">
                      </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                        <label for="etripNameInput">Trip Name</label>
                        <input type="text" class="form-control" id="etripNameInput" placeholder="Trip Name" value="<%= trips[i].tripname %>">
                    </div>
                </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="eairDraftInput">Air Draft (ft)</label>
                            <input type="number" class="form-control" id="eairDraftInput" placeholder="Air Draft" value="<%= trips[i].airdraft %>">
                        </div>
                </div>
            </div>
            <div class="row">
              <div class="col-4">
                  <div class="form-group">
                      <label for="emobLocInput">Mobilization Location</label>
                      <input type="text" class="form-control" id="emobLocInput" placeholder="Mobilization Location" value="<%= trips[i].moblocation %>">
                  </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                    <label for="eloadLocInput">Load Location</label>
                    <input type="text" class="form-control" id="eloadLocInput" placeholder="Load Location" value="<%= trips[i].loadlocation %>">
                </div>
            </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="eunloadLocInput">Unload Location</label>
                        <input type="text" class="form-control" id="eunloadLocInput" placeholder="Unload Location" value="<%= trips[i].unloadlocation %>">
                    </div>
            </div>
        </div>
                <h5>Customer Information</h5>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="ecompanyInput">Company Name</label>
                            <input type="text" class="form-control" id="ecompanyInput" placeholder="Company Name" value="<%= trips[i].customer %>">
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                          <label for="ecustomerFirstNameInput">Customer First Name</label>
                          <input type="text" class="form-control" id="ecustomerFirstNameInput" placeholder="First Name" value="<%= trips[i].customerfirstname %>">
                      </div>
                  </div>
                      <div class="col-4">
                          <div class="form-group">
                              <label for="ecustomerLastNameInput">Customer Last Name</label>
                              <input type="text" class="form-control" id="ecustomerLastNameInput" placeholder="Last Name" value="<%= trips[i].customerlastname %>">
                          </div>
                  </div>
              </div>
                  <div class="row">
                      <div class="col-4">
                          <div class="form-group">
                              <label for="ecustomerPhoneInput">Customer Phone</label>
                              <input type="text" class="form-control" id="ecustomerPhoneInput" placeholder="000-000-0000" value="<%= trips[i].customerphone %>">
                          </div>
                      </div>
                      <div class="col-4">
                          <div class="form-group">
                              <label for="ecustomerEmailInput">Customer Email</label>
                              <input type="text" class="form-control" id="ecustomerEmailInput" placeholder="hello@hello.com" value="<%= trips[i].customeremail %>">
                          </div>
                      </div>
                  </div>
                  <br>
                  <h5>Asset Information</h5>
                  <div class="row">
                      <div class="col-4">
                          <div class="form-group">
                              <label for="ebarge1Input">Barge Name (1)</label>
                              <input type="text" class="form-control" id="ebarge1Input" placeholder="Barge Name" value="<%= trips[i].barge1 %>">
                          </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                            <label for="ebarge2Input">Barge Name (2)</label>
                            <input type="text" class="form-control" id="ebarge2Input" placeholder="Barge Name" value="<%= trips[i].barge2 %>">
                        </div>
                    </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="etug1Input">Tug Name (1)</label>
                                <input type="text" class="form-control" id="etug1Input" placeholder="Tug Name" value="<%= trips[i].tug1 %>">
                            </div>
                    </div>
                  </div>
                    <div class="row">
                      <div class="col-4">
                          <div class="form-group">
                              <label for="etug2Input">Tug Name (2)</label>
                              <input type="text" class="form-control" id="etug2Input" placeholder="Tug Name" value="<%= trips[i].tug2 %>">
                          </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                            <label for="etug3Input">Tug Name (3)</label>
                            <input type="text" class="form-control" id="etug3Input" placeholder="Tug Name" value="<%= trips[i].tug3 %>">
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div></td>
</tr>
<% } %>
    </tbody>
  </table>
</div>
