<!-- <style>
  #panel{
      cursor: pointer;
      
  }

  #myGroup{
    padding-left: 0;
      padding-right: 0;
  }
</style>

<div class="row-header">
<div class="row font-weight-bold">
  <div class="col-sm text-center">Trip</div>
  <div class="col-sm text-center">Customer</div>
  <div class="col-sm text-center">Barge 1</div>
  <div class="col-sm text-center">Tug 1</div>
  <div class="col-sm text-center"></div>
</div>
</div>
 <div id="myGroup" class="container">
   <% for (let i = 0; i < trips.length; i++) { %>
 <div class="panel border" id="panel">
    <div class="row mint" role="button" data-toggle="collapse" data-parent="#myGroup" href="#<%= trips[i].tripnumber %>" aria-expanded="false" aria-controls="<%= trips[i].tripnumber %>">
      <div class="col-sm text-center"><%= trips[i].tripnumber %></div>
      <div class="col-sm text-center"><%= trips[i].customer %></div>
      <div class="col-sm text-center"><%= trips[i].barge1 %></div>
      <div class="col-sm text-center"><%= trips[i].tug1 %></div>
      <div class="col-sm text-center">+</div>
    </div>
    <div id="<%= trips[i].tripnumber %>" class="row collapse in">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
 </div> -->

<style>
  tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
	position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}

#tdcard {
  margin-top: 10px;
  margin-bottom: 10px
}

</style>

 <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Trip</th>
        <th scope="col">Customer</th>
        <th scope="col">Status</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < trips.length; i++) { %>
      <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#<%= trips[i].tripnumber %>">
        <td><%= trips[i].tripnumber %></td>
        <td><%= trips[i].customer %></td>
        <td><%= trips[i].status %></td>
        <td class="expand-button"></td>

</tr>
<tr class="hide-table-padding">
<td colspan="4">
<div id="<%= trips[i].tripnumber %>" class="collapse in col-sm">
  <div class="card" id="tdcard">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div></td>
</tr>
<% } %>
    </tbody>
  </table>
</div>
